<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TalkingUADev</title>
   

    <link rel="stylesheet" href="~/css/styleMaster.css">
</head>
<body>
    <header>
        
        <nav class="header__body">
            <div class="nav1">
                <a asp-area="" asp-controller="Home" asp-action="Index">Новини</a>
                <a asp-area="" asp-controller="Home" asp-action="Profile">Профіль</a>
                <a asp-area="" asp-controller="UserEvent" asp-action="SearchUsers">Пошук</a>
                <a asp-area="" asp-controller="UserEvent" asp-action="ViewLikedPost">Ваші вподобання</a>
            </div>
            <div class="logo">
                <img src="~/Img/Logo.png" alt="Logo">
            </div>
            <div class="nav2">
                <a asp-area="" asp-controller="UserEvent" asp-action="AddPublication">Додати пост</a>
                <a asp-area="" asp-controller="" asp-action="">Повідомлення</a>
                <a asp-area="" asp-controller="" asp-action="">Вихід</a>
            </div>
            <div class="dropdown">
                <div class="burger">
                    <span></span>
                </div>
                <nav class="menu">
                    <ul class="list">
                        <li class="link">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Новини</a>
                        </li>
                        <li class="link">
                            <a asp-area="" asp-controller="Home" asp-action="Profile">Профіль</a>
                        </li>
                        <li class="link">
                            <a asp-area="" asp-controller="UserEvent" asp-action="SearchUsers">Пошук</a>
                        </li>
                        <li class="link">
                            <a asp-area="" asp-controller="UserEvent" asp-action="ViewLikedPost">Ваші вподобання</a>
                        </li>
                        <li class="link">
                            <a asp-area="" asp-controller="UserEvent" asp-action="AddPublication">Додати пост</a>
                        </li>
                        <li class="link">
                            <a asp-area="" asp-controller="" asp-action="">Повідомлення</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
            </nav>
            <partial name="_LoginPartial" />
    </header>
        <main>
            @RenderBody()
        </main>
    <footer>
        <div class="footer">
            <a href="#">About US</a>
            <a href="#">FAQ</a>
            <a>All copyright reserved 2023</a>
        </div>
    </footer>
  

    <script src="~/js/jquery-3.6.3Master.min.js"></script>
    <script src="~/js/scriptMaster.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
