@model TalkingUADev.Util.UtilStories


<div class="modal-header">
    <p>@@@Model.followerUser.Name</p>

    <a id="close" style="z-index: 1100" href="https://www.google.com">Close</a>

</div>
<div class="modal-body">
    <div class="modal-body">
        <div class="vector-left"></div>
        <div class="story-img">
            <img src="@Model.someStory.ImageStory">
        </div>
        <div class="vector-right"></div>
    </div>

</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
