@model TalkingUADev.Util.UtilStories



@if (Model == null)
{
    <script>
        alert("User not publicated story last 24 hour");
        $(document).ready(function() {
            $('#openModal').css("opacity", 0);
            $('body').css("overflow", "visible");
            $('body').css("pointer-events", "auto");
            $('#openModal').css("marginLeft", "0px");
        });
    </script>
}
else
{
    <div class="modal-header">
        <p>@@@Model.followerUser.Name</p>

        <a id="closeAjax" style="z-index: 1100" href="https://www.google.com">Close</a>

    </div>
    <div class="modal-body">
        <div class="modal-body">
            <div class="vector-left"></div>
            <div class="story-img">
                <img id="close" src="@($"/UsersStoryFile/UserPostBy{Model.followerUser.Email}/{Model.someStory.ImageTitle}")">

            </div>
            <div class="vector-right"></div>
        </div>

    </div>

    <script>

        $(document).ready(function() {


            $('#close').click(function(e) {
                e.preventDefault();
                e.stopPropagation();
                $('#openModal').css("opacity", 0);
                $('body').css("overflow", "visible");
                $('#openModal').css("marginLeft", "0px");
            });
        });

    </script>
}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
