@model TalkingUADev.Models.UserStory

<div class="container">
    <h1 class="text-center my-5">Story</h1>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mb-3">
                <img src="@Model.ImageStory" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Views: @Model.CountWathcedStory</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
