html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.circular-image {
    clip-path: circle(30% at center);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5) !important;
}
.shadow-custom {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-img-top {
    filter: brightness(70%);
}