@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

html {
    background-color: #cecece;
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    height: 82px;
    background-color: #181819;
}

main {
    max-width: 1288px;
    background-color: #f0f0f0;
    margin: 0 auto;
}

.container {
    min-height: 900px;
    max-width: 1003px;
    margin: 0 auto;
    padding-top: 40px;
}

.container .hr {
    max-width: 717px;
    margin: 0 auto;
    border: 1px solid #3A3A3A;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.33);
}

.posts {
    width: 905px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
}

.post {
    width: 278px;
    height: 240px;
    padding: 3px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.post img {
    max-width: 272px;
    max-height: 234px;
    object-fit: cover;
}

@media (max-width: 1003px) {
    .container .hr {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 915px) {
    .posts {
        padding: 20px;
        height: auto;
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .post:nth-child(odd) {
        position: relative;
        left: 30px;
    }

    .post:nth-child(even) {
        position: relative;
        left: -30px;
    }
}

@media (max-width: 710px) {
    .post:nth-child(odd) {
        position: relative;
        left: 10px;
    }

    .post:nth-child(even) {
        position: relative;
        left: -10px;
    }
}

@media (max-width: 620px) {
    .head {
        padding-top: 15px;
        padding-bottom: 5px;
        height: 210px;
        min-height: 0;
    }

    .head .nick {
        margin-bottom: 15px;
    }

    .info {
        width: 100%;
        max-width: 220px;
    }

    .subscribes p:nth-child(1),
    .reader p:nth-child(1),
    .count-post p:nth-child(1) {
        line-height: 20px;
        font-size: 16px;
    }

    .subscribes p:nth-child(2),
    .reader p:nth-child(2),
    .count-post p:nth-child(2) {
        line-height: 16px;
        font-size: 12px;
    }

    .posts {
        grid-template-columns: repeat(1, 1fr);
    }

    .post:nth-child(odd),
    .post:nth-child(even) {
        position: static;
    }
}