@model List<TalkingUADev.Areas.Identity.Data.UserApp>
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <form method="post" id="form-for-searching">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" name="UserName" aria-label="Search" aria-describedby="button-search">
                    <button type ="submit" class="btn btn-primary" type="button" id="button-search">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center my-5" id="partial-results">
       

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $('#form-for-searching').submit(function (event) {
        event.preventDefault();

        $.ajax({
            type: "POST",
            url: '@Url.Action("SearchUsers", "UserEvent")',
            data: $(this).serialize(),
            success: function (result) {
                $('#partial-results').html(result);
            }
        });
    });
</script>

