@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Пошук";
}
@model List<TalkingUADev.Areas.Identity.Data.UserApp>
<link rel="stylesheet" href="~/css/styleSearch.css" />
<div class="main">
    <div class="container">
        <div class="search">
            <form method="post" id="form-for-searching">
                <div class="inputs">
                    <input type="text" class="form-control" placeholder="Пошук..." name="UserName" aria-label="Search" aria-describedby="button-search" />
                    <button class="subscribe-btn" type="submit" style="cursor: pointer" class="btn btn-primary" type="button" id="button-search">Пошук</button>
                </div>
            </form>
        </div>
        <div class="hr"></div>
        <div class="subscribers" id="partial-results">
        </div>
    </div>
</div>

<script src="~/js/jquery-3.6.3Master.min.js"></script>

<script src="~/js/scriptFollowers.js"></script>

<script>
    $('#form-for-searching').submit(function(event) {
        event.preventDefault();

        $.ajax({
            type: "POST",
            url: '@Url.Action("SearchUsers", "UserEvent")',
            data: $(this).serialize(),
            success: function(result) {
                $('#partial-results').html(result);
                $(document).ready(function(){
                 let avatars = document.querySelectorAll('.nickname .story img');
                avatars.forEach((elem) => {
                    console.log('asdasd');
                    if (elem.width > elem.height) {
                        elem.style.height = '100%';
                    } else if (elem.height >= elem.width) {
                        elem.style.width = '100%';
                    }
                })
                });
               
            }
        });
    });
</script>

